[submodule "noname"]
	path = noname
	url = git@github.com:crowdos/noname
[submodule "whynot"]
	path = whynot
	url = git@github.com:crowdos/whynot
[submodule "qtbase"]
	path = qtbase
	url = git@github.com:crowdos/qtbase.git
